
<div *ngIf="auth.user | async as user">
        <div class="card-body">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <button type="button"  data-toggle="modal" data-target="#presente" class="btn btn-warning btn-block">Presente</button>
                </li>
            </ul>
        </div>
<div class="card">
    <div class="card-header" data-spy="scroll">
        <i class="fa fa-align-justify"></i> Muro
        <small>content</small>
    </div>
    <div id="muro" data-spy="scroll" #scrollMe [scrollTop]="scrollMe.scrollHeight" data-offset="5" style="max-height: 400px; overflow: auto;">
        <div *ngIf="clases?.length > 0;else noClase">
            <div class="card-body"></div>
            <div *ngFor="let clases of clases " >
        
                
                <div class="list-group">
                    <a class="list-group-item list-group-item-action flex-column align-items-start" href="#">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{clases.nombre}}</h5>
                    <small class="text-muted">{{clases.fecha}}</small>
                    </div>
                    <p class="mb-1">{{clases.texto}}</p>
                    </a>
                </div>
            </div>
     </div>  
    <ng-template #noClase>
            <hr>
            <h5>NO EXISTEN POST</h5>
        </ng-template> 

</div>
    <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
                 
            <div class="form-group">
              <div class="input-group">
                <textarea class="form-control" #text type="text" #txt placeholder="Contenido..." style="overflow:auto;resize:none"></textarea>
                <div class="input-group-append">
                <a class="btn input-group-text" (click)="post(user.displayName,txt)">
                <i class="fa fa-send"></i>
                </a>
            </div>
          </div>
  
          </div> 
              
  
        </div>
    
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="presente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Actualizar datos Personales</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
    
                <div class="form-group col-12">
                    <label for="inputPassword6">{{s}}</label>
                    <input type="text" id="clase" class="form-control " aria-describedby="passwordHelpInline">
                    <small id="passwordHelpInline" class="text-muted">
                      Must be 8-20 characters long.
                    </small>
    
                    <label for="inputPassword6">Password</label>
                    <input type="text" id="inputPassword6" class="form-control " aria-describedby="passwordHelpInline">
                    <small id="passwordHelpInline" class="text-muted">
                      Must be 8-20 characters long.
                    </small>
                  </div>
            
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Presente</button>
            </div>
          </div>
        </div>
</div>