<div *ngIf="auth.user | async as user">
    <div *ngIf="user.cuenta=='admin';else usuarioyprofe" class="row">
        <div class="col">
            <div class="card">
            <div class="card-header">                
                <nav class="nav flex-column flex-sm-row justify-content-center">
                <button class="btn btn-outline-primary p-auto col-12 col-md-4" href="#" data-toggle="modal" data-target="#crearmateria">Crear nueva materia</button>
                <button class="btn btn-outline-primary p-auto col-12 col-md-4 " href="#" data-toggle="modal" data-target="#Altausuario">Crear pre-inscripcion del usuario</button>
            </nav>
            </div>
        </div>
        <div class="card">
                <a href="#" data-toggle="collapse" data-target="#tablamaterias" ><h1 class="text-center">Materias</h1></a>   
        </div> 
        <div class="table-responsive collapse show" data-spy="scroll" id="tablamaterias" style="max-height: 400px; overflow: auto;">
            <table class="table table-striped table-dark ">
                    <thead>
                        <tr>
                        <th scope="col">Carrera</th>
                        <th scope="col">año</th>
                        <th scope="col">Materia</th>
                        <th scope="col">Eliminar</th>
                        <th scope="col">Asignar cursada</th>
                        </tr>
                    </thead>
                    <tbody >
                    <tr *ngFor="let materia of materiasadm">
                        <td>{{materia.carrera}}</td>
                        <td>{{materia.ano}}</td>
                        <td>{{materia.materia}}</td>
                        <td><button class="bg-red rounded offset-1" (click)="eliminarmateria(materia.materiaid)"><i class="fa fa-ban"  aria-hidden="true"></i></button></td>
                        <td><button class="bg-green rounded offset-1 " (click)="cargardatoscursadanuevoadm(materia.carrera,materia.materia,materia.materiaid)" data-toggle="modal" data-target="#Crearclase"><i class="fa fa-check"  aria-hidden="true"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card mt-5">
            <a href="#" data-toggle="collapse" data-target="#cursadastabla"><h1 class="text-center">Cursadas</h1></a>   
        </div>
        <div class="table-responsive collapse show" id="cursadastabla" data-spy="scroll" style="max-height: 400px; overflow: auto;">
            <table class="table table-striped table-dark ">
                    <thead>
                        <tr>
                        <th scope="col">Codigo Cursada</th>
                        <th scope="col">Carrera</th>
                        <th scope="col">Materia</th>
                        <th scope="col">Profesor</th>
                        <th scope="col">Eliminar</th>
                        <th scope="col">Modificar</th>
                        </tr>
                    </thead>
                    <tbody >
                    <tr *ngFor="let cursada of cursadasadm">
                        <td>{{cursada.numerocursada}}</td>
                        <td>{{cursada.carrera}}</td>
                        <td>{{cursada.materia}}</td>
                        <td>{{cursada.proferosname}}</td>
                        <td><button class="bg-red rounded offset-1 " (click)="eliminarcursada(cursada.cursadaid)"><i class="fa fa-ban"  aria-hidden="true"></i></button></td>
                        <td><button class="bg-green rounded offset-1 " data-target="#modificarlacursadaadm" data-toggle="modal"  (click)="cargareditar(cursada.cursadaid,
                            cursada.fechainc, cursada.fechafin,
                            cursada.img,
                            cursada.materia,
                            cursada.numerocursada,
                            cursada.dias,
                            cursada.carrera,
                            cursada.color,
                            cursada.profesoruid)"><i class="fa fa-check"  aria-hidden="true"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #usuarioyprofe>
    <div *ngIf="user.cuenta=='profesor';else usuarioComun" class="row">
        <div class="container-fluid" style="min-height: 1000px">
            <div class="row " *ngIf="cursosacargo?.length > 0; else noCursos">
                <div *ngFor="let curso of cursosacargo" class="col-12 col-md-4 col-lg-3">
                    <div class="circle-tile">
                        <a>
                            <div class="circle-tile-heading {{curso.color}}">
                                <i class="fa {{curso.img}} fa-fw fa-3x"></i>
                            </div>
                        </a>
                        <div class="circle-tile-content {{curso.color}}">
                            <div class="circle-tile-description text-faded">
                                Cursada Numero: {{curso.numerocursada}}
                            </div>
                            <div class="circle-tile-number text-faded">
                                {{curso.materia}}
                                <span id="sparklineA"></span>
                            </div>
                            {{curso.dias}}
                            <a type="button" (click)="irclase(curso.cursadaid)" class="circle-tile-footer"><i class="fa fa-chevron-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #usuarioComun>
    <div class="container-fluid" style="min-height: 1000px">
        <div class="row " *ngIf="cursos?.length > 0; else noCursos">
            <div *ngFor="let curso of cursos" class="col-12 col-md-4 col-lg-3">
                <div *ngIf="curso.estado =='activa'">
                    <div class="circle-tile">
                        <a>
                            <div class="circle-tile-heading {{curso.color}}">
                                <i class="fa {{curso.img}} fa-fw fa-3x"></i>
                            </div>
                        </a>
                        <div class="circle-tile-content {{curso.color}}">
                            <div class="circle-tile-description text-faded">
                                N° de comisión: {{curso.numerocursada}}
                            </div>
                            <div class="circle-tile-number text-faded">

                                {{curso.materia}}
                                <span id="sparklineA"></span>
                            </div>
                            {{curso.dias}}
                            <a type="button" (click)="irclase(curso.cursadaid)" class="circle-tile-footer"><i class="fa fa-chevron-circle-right"></i></a>
                        </div>
                    </div>

                </div>
                <div *ngIf="curso.estado == 'pendiente'">
                    <div class="circle-tile">
                        <a>
                            <div class="circle-tile-heading light-gray">
                                <i class="fa {{curso.img}} fa-fw fa-3x"></i>
                            </div>
                        </a>
                        <div class="circle-tile-content light-gray">
                            <div class="circle-tile-description text-faded">
                                N° de comisión: {{curso.numerocursada}}
                            </div>
                            <div class="circle-tile-number text-faded">
                                {{curso.materia}}
                                <span id="sparklineA"></span>
                            </div>
                            {{curso.fechafin}}
                            <a type="button" class="circle-tile-footer">Pendiente</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="circle-tile">
                    <a href="#" data-toggle="modal" data-target="#altainscripcion">
                        <div class="circle-tile-heading light-gray">
                            <i class="fa fa-plus-square-o fa-fw fa-3x"></i>
                        </div>
                    </a>
                    <div class="circle-tile-content light-gray">
                        <div class="circle-tile-description text-faded">
                            Agregar Nuevo
                        </div>
                        <div class="circle-tile-number text-faded">
                            Curso
                            <span id="sparklineA"></span>
                        </div>
                        <a href="#" class="circle-tile-footer" data-toggle="modal" data-target="#altainscripcion"><i
                                class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #noCursos>

            <h5 class="text-center">¡Aun no esta inscripto a ninguna materia!</h5>
            <div class="col-12 col-md-3">
                <div class="circle-tile">
                    <a href="#" data-toggle="modal" data-target="#altainscripcion">
                        <div class="circle-tile-heading light-gray">
                            <i class="fa fa-plus-square-o fa-fw fa-3x"></i>
                        </div>
                    </a>
                    <div class="circle-tile-content light-gray">
                        <div class="circle-tile-description text-faded">
                            Agregar Nuevo
                        </div>
                        <div class="circle-tile-number text-faded">
                            Curso
                            <span id="sparklineA"></span>
                        </div>
                        <a href="#" class="circle-tile-footer" data-toggle="modal" data-target="#altainscripcion"><i
                                class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</ng-template>
                    



<!----Modales-->
    <!----Modales-->
    <div class="modal fade" id="crearmateria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nueva materia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container">
                        <form class="form" ngNativeValidate (ngSubmit)="altamateria()">
                            <div class="form-group">
                                <label for="ano">Año de materia</label>
                                <input type="number" min="1" max="6" class="form-control" id="ano" required>
                            </div>

                            <div class="form-group">
                                <label for="carrera">Carrera</label>
                                <select class="form-control" id="carrera" required>
                                    <option value="" selected disabled hidden>Seleccione una carrera</option>
                                    <option *ngFor="let nomcarrera of carreras" [value]="nomcarrera">{{nomcarrera}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="materia">Nombre de materia</label>
                                <input type="text" class="form-control" id="materia" #materia required>
                            </div>
                            <button type="submit" class="btn btn-success btn-block">Crear</button>
                            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Crearclase" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nueva cursada</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container">
                        <form class="form" ngNativeValidate (ngSubmit)="altaclase()" id="fcrearclase">
                        <div class="form-group">
                                <label for="carreramat">Carrera</label>
                                <input type="text"  class="form-control" id="carreramat" disabled>                            </div>
                            <div class="form-group">
                                <label for="mat">Materia</label>
                                <input type="text"  class="form-control" id="mat" disabled>
                                <input type="text"  class="form-control" id="matid" hidden>
                            </div>
                            <div class="form-group">
                                <label for="cursadan">Numero de comisión</label>
                                <input type="text" minlength="1" class="form-control" id="cursadan" required>
                            </div>
                            <div class="form-group">
                                <label for="finicio">Fecha inicio</label>
                                <input type="date" min="1" max="6" class="form-control" id="finicio" required>
                            </div>
                            <div class="form-group">
                                <label for="finicio">Fecha finalización</label>
                                <input type="date" min="1" max="6" class="form-control" id="ffin" required>
                            </div>
                            <div class="form-group">
                                <label for="profesor">Profesor</label>
                                <select class="form-control" id="profesor" required>
                                    <option value="" selected disabled hidden>Seleccione un profesor</option>
                                    <option *ngFor="let profe of profes" [value]="profe.uid">{{profe.displayName}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="dias">Días y horarios</label>
                                <select class="form-control" id="dias">
                                    <option value="" selected disabled hidden>Seleccione día</option>
                                    <option *ngFor="let dia of dias" [value]="dia">{{dia}}</option>
                                </select>
                                <select class="form-control mt-3" id="horario">
                                    <option value="" selected disabled hidden>Seleccione horario</option>
                                    <option *ngFor="let hora of horarios" [value]="hora">{{hora}}</option>
                                </select>
                                <div class="form-group">
                                    <button type="button" class="btn btn-success float-right mb-4 mt-3 col-3" (click)="agregarhorario()">Agregar</button>
                                </div>
                                <div class="form-group">
                                    <textarea style="resize:none" class="form-control " id="diastext" rows="3"
                                        disabled required></textarea>
                                </div>
                                    <button type="button" class="btn btn-danger float-right mb-4 col-3" (click)="borrarhorario()">Borrar</button>
                                </div>
                            
                            <div class="form-group">
                                <label for="colormateria">Color</label>
                                <select class="form-control" id="colormateria" required>
                                    <option value="" selected disabled hidden>Seleccione un color</option>
                                    <option *ngFor="let color of color" [value]="color.val">{{color.nombre}}</option>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-success btn-block" (click)="cargarcursada()">Crear</button>
                            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cerrar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Altausuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form" ngNativeValidate (ngSubmit)="Altausuario()">
                        <div class="form-group">
                            <label for="documento">Documento</label>
                            <input type="text" class="form-control" id="documento" required minlength="6" maxlength="8"
                                pattern="[0-9.]+">
                        </div>
                        <div class="form-group">
                            <label for="usuariotipo">Tipo de usuario</label>
                            <select class="form-control" id="usuariotipo" required>
                                <option value="" selected disabled hidden>Seleccione una opcion</option>
                                <option *ngFor="let tipo of tipousuario" [value]=tipo>{{tipo}}</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Crear</button>
                        <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cerrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="buscarmateria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buscar materia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form class="form" ngNativeValidate id="formeliminar">
                            <div class="form-group">
                                <label for="carreras">Carrera</label>
                                <select class="form-control" id="carreras" required (change)="cargarmaterias()">
                                    <option value="" selected disabled hidden>Seleccione una carrera</option>
                                    <option *ngFor="let nomcarrera of carreras" [value]="carreras">{{nomcarrera}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="mat">Materia</label>
                                <select class="form-control" id="materiase" required (change)="datosmateria()"
                                    selectedIndex=-1>
                                    <option value="" selected disabled hidden>Seleccione una materia</option>
                                    <option *ngFor="let materia of materias" [value]=materia.materiaid>{{materia.materia}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="año">Año</label>
                                <input type="number" min="1" max="6" class="form-control" id="año" disabled>
                            </div>
                            <button type="button" id="eliminar" (click)="eliminarmateria()" class="btn btn-danger btn-block eliminar"
                                style="display: none;">Eliminar</button>
                            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cerrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="buscarcursada" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buscar cursada</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container">
                        <form class="form" ngNativeValidate id="bcformcursada">
                            <div class="form-group">
                                <label for="bccarrera">Carrera</label>
                                <select class="form-control" id="bccarrera" required (change)="carreracursada()">
                                    <option value="" selected disabled hidden>Seleccione una carrera</option>
                                    <option *ngFor="let nomcarrera of carreras" [value]="carreras">{{nomcarrera}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="bccmateria">Materia</label>
                                <select class="form-control" id="bccmateria" required (change)="materiacursada()"
                                    selectedIndex=-1>
                                    <option value="" selected disabled hidden>Seleccione una materia</option>
                                    <option *ngFor="let cursadabaj of materias" [value]=cursadabaj.materiaid>{{cursadabaj.materia}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="bcaño">Año</label>
                                <input type="number" min="1" max="6" class="form-control" id="bcaño" required disabled>
                            </div>

                            <div class="form-group">
                                <label for="bccursadas">Numero de comisión</label>
                                <select class="form-control" id="bccursadas" required (change)="cargarcursada()"
                                    selectedIndex=-1>
                                    <option value="" selected disabled hidden>Seleccione una comisión</option>
                                    <option *ngFor="let cursadas of cursadas" [value]=cursadas.cursadaid>{{cursadas.numerocursada}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="bcfinicio">Fecha inicio</label>
                                <input type="date" min="1" max="6" class="form-control" id="bcfinicio" required
                                    disabled>
                            </div>
                            <div class="form-group">
                                <label for="bcffin">Fecha finalización</label>
                                <input type="date" min="1" max="6" class="form-control" id="bcffin" required disabled>
                            </div>
                            <div class="form-group">
                                <label for="bcprofesor">Profesor</label>
                                <select class="form-control" id="bcprofesor" required disabled>
                                    <option value="" selected disabled hidden>Seleccione un profesor</option>
                                    <option *ngFor="let profe of profes" [value]="profe.uid">{{profe.displayName}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="dias">Días y horarios</label>
                                <select class="form-control" id="diasmodificar" disabled>
                                    <option value="" selected disabled hidden>Seleccione día</option>
                                    <option *ngFor="let dia of dias" [value]="dia">{{dia}}</option>
                                </select>
                                <select class="form-control mt-3" id="horariomodificar" disabled>
                                    <option value="" selected disabled hidden>Seleccione horario</option>
                                    <option *ngFor="let hora of horarios" [value]="hora">{{hora}}</option>
                                </select>
                                <div class="form-group">
                                    <textarea style="resize:none" class="form-control mt-3" id="diastextmodificar" rows="3"
                                        disabled required></textarea>
                                </div>
                                <button type="button" class="btn btn-success" (click)="agregarhorariomodificar()">Agregar</button>
                                <button type="button" class="btn btn-danger ml-1" (click)="borrarhorariomodificar()">Borrar</button>
                            </div>


                            <div class="form-group">
                                <label for="bciconoclase">Icono representativo</label>
                                <div class="form-check" id="bciconoclase">
                                    <label class="form-check-label col-4">
                                        <input type="radio" class="form-check-input" name="bccolorradio" id="optionsRadios1"
                                            value="fa-calculator" checked="" disabled>
                                        <i class="fa fa-calculator" aria-hidden="true"></i>
                                    </label>
                                    <label class="form-check-label col-4">
                                        <input type="radio" class="form-check-input" name="bccolorradio" id="optionsRadios2"
                                            value="fa-pencil" checked="" disabled>
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </label>
                                    <label class="form-check-label col-4">
                                        <input type="radio" class="form-check-input" name="bccolorradio" id="optionsRadios3"
                                            value="fa-plane" checked="" disabled>
                                        <i class="fa fa-plane" aria-hidden="true"></i>
                                    </label>
                                    <label class="form-check-label col-4">
                                        <input type="radio" class="form-check-input" name="bccolorradio" id="optionsRadios4"
                                            value="fa-history" checked="" disabled>
                                        <i class="fa fa-history" aria-hidden="true"></i>
                                    </label>
                                    <label class="form-check-label col-4">
                                        <input type="radio" class="form-check-input" name="bccolorradio" id="optionsRadios5"
                                            value="fa-pie-chart" checked="" disabled>
                                        <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                    </label>
                                    <label class="form-check-label col-4">
                                        <input type="radio" class="form-check-input" name="bccolorradio" id="optionsRadios6"
                                            value="fa-desktop" checked="" disabled>
                                        <i class="fa fa-desktop" aria-hidden="true"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="bccolormateria">Color</label>
                                <select class="form-control" id="bccolormateria" required disabled>
                                    <option value="" selected disabled hidden>Seleccione un color</option>
                                    <option *ngFor="let color of color" [value]="color.val">{{color.nombre}}</option>
                                </select>
                            </div>
                            <button type="button" id="bceliminar" (click)="bceliminarmateria()" class="btn btn-danger btn-block eliminar"
                                style="display: none;">Eliminar</button>
                            <button type="button" id="bcmodificar" (click)="bcmodificar()" class="btn btn-success btn-block eliminar"
                                style="display: none;">Modificar</button>
                            <button type="button" class="btn btn-secondary btn-block" (click)="cerrarmodal()">Cerrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="altainscripcion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Inscripcion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form class="form" ngNativeValidate (ngSubmit)="inscripcioncursada()">
                            <div class="form-group">
                                <label for="icarrera">Carrera</label>
                                <select class="form-control" id="icarrera" required>
                                    <option value="" selected disabled hidden>Seleccione una carrera</option>
                                    <option *ngFor="let nomcarrera of carreras" [value]="nomcarrera">{{nomcarrera}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="iano">Año</label>
                                <select class="form-control" id="iano" required (change)="imaterias()">
                                    <option value="" selected disabled hidden>Seleccione año</option>
                                    <option *ngFor="let a of [1,2,3,4,5,6]" [value]="a">{{a}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="imateria">Materia</label>
                                <select class="form-control" id="imateria" required (change)="icursadas()"
                                    selectedIndex=-1>
                                    <option value="" selected disabled hidden>Seleccione una materia</option>
                                    <option *ngFor="let imaterias of materiasao" [value]=imaterias.materiaid>{{imaterias.materia}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="icursada">Comisión</label>
                                <select class="form-control" id="icursada" required selectedIndex=-1>
                                    <option value="" selected disabled hidden>Seleccione comisión</option>
                                    <option *ngFor="let cursadas of cursadas" [value]=cursadas.cursadaid>{{cursadas.numerocursada}}</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success btn-block">Inscribirme</button>
                            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cerrar</button>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="modal fade" id="modificarlacursadaadm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nueva cursada</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
    
                        <div class="container">
                            <form class="form" ngNativeValidate  id="crearclaser">
                                <input type="text" name="" id="cursadaidr" hidden>
                                <div class="form-group">
                                    <label for="cursadan">Numero de comisión</label>
                                    <input type="text" minlength="1" class="form-control" id="cursadanr" disabled>
                                </div>
                                <div class="form-group">
                                        <label for="carreareditar">Carrera: </label>
                                        <input type="text" class="form-control" id="carreareditare" disabled>
                                    </div>
                                <div class="form-group">
                                    <label for="matditar">Materia: </label>
                                    <input type="text" class="form-control" id="matditarr" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="finicio">Fecha inicio</label>
                                    <input type="date" class="form-control" id="finicior" (change)="habilitarmodificarmateria()" required>
                                </div>
                                <div class="form-group">
                                    <label for="finicio">Fecha finalización</label>
                                    <input type="date"  class="form-control" id="ffinr" (change)="habilitarmodificarmateria()" required>
                                </div>
                               
                                <div class="form-group">
                                    <label for="profesor">Profesor</label>
                                    <select class="form-control" id="profesorr" required (change)="habilitarmodificarmateria()">
                                        <option value="" selected disabled hidden>Seleccione un profesor</option>
                                        <option *ngFor="let profe of profes" [value]="profe.uid">{{profe.displayName}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="dias">Días y horarios</label>
                                    <select class="form-control" id="diasr">
                                        <option value="" selected disabled hidden>Seleccione día</option>
                                        <option *ngFor="let dia of dias" [value]="dia">{{dia}}</option>
                                    </select>
                                    <select class="form-control mt-3" id="horarior">
                                        <option value="" selected disabled hidden>Seleccione horario</option>
                                        <option *ngFor="let hora of horarios" [value]="hora">{{hora}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-success float-right mb-4 col-3" (click)="agregarhorarior()">Agregar</button>
                                </div>
                                <div class="form-group">
                                    <textarea style="resize:none" class="form-control " id="diastextr" rows="3" disabled required></textarea>
                                </div>
    
                                <button type="button" class="btn btn-danger float-right mb-4 col-3" (click)="borrarhorarior()">Borrar</button>
                                <div class="form-group">
                                    <label for="iconoclase">Icono representativo</label>
                                    <input type="text"id="cursadaiddd" hidden>
                                    <div class="form-check" id="iconoclase">
                                        <label class="form-check-label col-4">
                                            <input type="radio" class="form-check-input" name="editarimgradio" id="optionsRadios1"
                                                value="fa-calculator" checked="">
                                            <i class="fa fa-calculator" aria-hidden="true"></i>
                                        </label>
                                        <label class="form-check-label col-4">
                                            <input type="radio" class="form-check-input" name="editarimgradio" id="optionsRadios2"
                                                value="fa-pencil" checked="">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </label>
                                        <label class="form-check-label col-4">
                                            <input type="radio" class="form-check-input" name="editarimgradio" id="optionsRadios3"
                                                value="fa-plane" checked="">
                                            <i class="fa fa-plane" aria-hidden="true"></i>
                                        </label>
                                        <label class="form-check-label col-4">
                                            <input type="radio" class="form-check-input" name="editarimgradio" id="optionsRadios4"
                                                value="fa-history" checked="">
                                            <i class="fa fa-history" aria-hidden="true"></i>
                                        </label>
                                        <label class="form-check-label col-4">
                                            <input type="radio" class="form-check-input" name="editarimgradio" id="optionsRadios5"
                                                value="fa-pie-chart" checked="">
                                            <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                        </label>
                                        <label class="form-check-label col-4">
                                            <input type="radio" class="form-check-input" name="editarimgradio" id="optionsRadios6"
                                                value="fa-desktop" checked="">
                                            <i class="fa fa-desktop" aria-hidden="true"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="colormateria">Color</label>
                                    <select class="form-control" id="colormateriar" required>
                                        <option value="" selected disabled hidden>Seleccione un color</option>
                                        <option *ngFor="let color of color" [value]="color.val">{{color.nombre}}</option>
                                    </select>
                                </div>
    
                                <button type="submit" class="btn btn-success btn-block" id="btnadmeditarmateria" disabled (click)="editarcursadaadm()">Editar</button>
                                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cerrar</button>
                            </form>
    
                        </div>
                    </div>
                </div>
            </div>
    </div>