<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Muro
    <small>content</small>
  </div>
  <div class="card-body">
    <div class="list-group">
      <a class="list-group-item list-group-item-action flex-column align-items-start" href="#">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      <small class="text-muted">Donec id elit non mi porta.</small>
      </a>
  </div>
  <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
               
          <div class="form-group">
            <div class="input-group">
              <textarea class="form-control" #text type="text" name="texto" placeholder="Contenido..." style="overflow:auto;resize:none"></textarea>
              <div class="input-group-append">
              <a class="btn input-group-text">
              <i class="fa fa-send"></i>
              </a>
          </div>
        </div>

        </div>
            

      </div>
  
</div>